@import 'normalize.css';

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll; /* always show scrollbars to reduce flicker */
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 1px transparent;
  background: #eee;
  font-size: 1.25rem;
  line-height: 1.5;
}
