.close-icon {
  background-color: var(--color-background);
  width: 16px;
  height: 16px;
}

.close-icon__shadow {
  stroke: var(--color-shadow);
  fill: var(--color-background);
}

.close-icon__highlight {
  stroke: var(--color-highlight);
  fill-opacity: 0;
}

button:active .close-icon__shadow {
  stroke: var(--color-highlight);
}

button:active .close-icon__highlight {
  stroke: var(--color-shadow);
}
