.window {
  --window-border-color: rgb(152, 152, 152);
  --window-border-width: 2px;
  position: fixed;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.window__header {
  --color-background: #aaa;
  --color-highlight: #ccc;
  --color-shadow: #555;

  position: absolute;
  user-select: none;
  top: -2em;
  left: 0px;
  height: calc(2em);
  line-height: 2em;
  background: var(--color-background);
  border-style: solid;
  border-width: var(--window-border-width) var(--window-border-width) 0 var(--window-border-width);
  border-color: var(--window-border-color);
}

.window--focused .window__header {
  --color-background: rgb(255, 203, 0);
  --color-highlight: rgb(255, 255, 63);
  --color-shadow: rgb(183, 130, 0);
}

.window__header::before {
  z-index: -1;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 1px);
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: var(--color-highlight);
  border-right-color: var(--color-shadow);
  line-height: 1em;
}

.window--focused .window__header::before {
  border-color: var(--color-highlight);
  border-right-color: var(--color-shadow);
}

.window__header-button {
  margin: 0.2em;
  padding: 0;
  border: 0;
  line-height: 0;
}

.window__header-button:focus {
  outline: none;
}

.window__header-text {
  font-size: inherit;
  font-weight: bold;
  display: inline-block;
  margin: 0 1em;
  vertical-align: top;
}

.window__header .icon-close {
  width: 1.2em;
  height: 1.2em;
}

.window__resize {
  background: var(--window-border-color);
  position: absolute;
  user-select: none;
}

.window__resize--n {
  height: var(--window-border-width);
  top: 0;
  left: 0;
  right: 0;
  cursor: ns-resize;
}
.window__resize--e {
  width: var(--window-border-width);
  top: 0;
  right: 0;
  bottom: 0;
  cursor: ew-resize;
}

.window__resize--s {
  height: var(--window-border-width);
  right: 0;
  bottom: 0;
  left: 0;
  cursor: ns-resize;
}

.window__resize--w {
  width: var(--window-border-width);
  bottom: 0;
  left: 0;
  top: 0;
  cursor: ew-resize;
}

.window__resize--nw {
  top: 0;
  left: 0;
  width: var(--window-border-width);
  height: calc(var(--window-border-width) * 2);
  cursor: nw-resize;
}

.window__resize--ne {
  top: 0;
  right: 0;
  width: var(--window-border-width);
  height: calc(var(--window-border-width) * 2);
  cursor: ne-resize;
}

.window__resize--sw {
  bottom: 0;
  left: 0;
  width: var(--window-border-width);
  height: calc(var(--window-border-width) * 2);
  cursor: sw-resize;
}

.window__resize--se {
  bottom: 0;
  right: 0;
  width: var(--window-border-width);
  height: calc(var(--window-border-width) * 2);
  cursor: se-resize;
}
