:root {
  background: #111;
  color: #aaa;
}
html,
body {
  padding: 0;
  margin: 0;
}
textarea {
  box-sizing: border-box;
  margin: 0;
  background: transparent;
  color: inherit;
  font-family: monospace;
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  border: 0;
}
