@import '~normalize.css';
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import './modules/nav.css';


.full-height {
  height: 0; /* makes min-height work for some reason. chrome bug? */
  min-height: 100%;
  padding: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll; /* always show scrollbars to reduce flicker */
}

body {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 1px transparent;
  background: #eee;
  font-size: 1.25rem;
  line-height: 1.5;
}

.page {
  background: white;
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  min-height: 100%;
  padding: 1em;
}

.page-header {
  margin-top: 0;
}

.page img {
  transition: .1s;
}

.page img:nth-of-type(2n+1) {
  clear:both;
  float: left;
  margin-right: 1em;
  transform: rotate(-1deg);
}

.page img:nth-of-type(2n) {
  clear: both;
  float: right;
  margin-left: 1em;
  transform: rotate(1deg);
}


@media (max-width: 450px) {
  .page img {
    transform: none;
    clear: both;
    float: none;
    width: 100%;
    margin: 0;
  }
}