.icon {
  margin: 10px;
  border: 0;
  background: transparent;
  padding: 0;
  height: 64px;
  width: 64px;
}

.icon:focus {
  outline: none;
}

.icon__grid {
  height: 64px;
  width: 64px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.icon__image {
  background: blue;
  width: 32px;
  height: 32px;
}

.icon__text {
  padding: 2px;
  text-align: center;
}

.icon--selected .icon__text {
  background: navy;
  color: white;
}

.icon--selected .icon__image > * {
  opacity: 0.75;
}
