:root {
  font-size: 20px;
}

.terminal {
  font-family: Consolas, 'Courier New', monospace;
  background: black;
  color: white;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}

.terminal--output {
  font: inherit;
}

.terminal--prompt {
  display: inline-block;
  width: 1em;
}

.terminal--input {
  line-height: inherit;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: calc(100vw - 1em);
  font: inherit;
  border: 0;
  color: inherit;
  background: transparent;
  outline: none;
}
