body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI Light', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero > h1 {
  font-size: 5vp;
  margin: 1rem;
}

ul.titles {
  list-style: none;
  margin: 0 1rem 1rem 1rem;
  padding:0;
  text-align: center;
  font-style: italic;
}

ul.profiles {
  display: flex;
  margin: 1rem;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

ul.profiles > li {
  margin: 5px;
}

ul.profiles img {
  width: 25px;
  height: 25px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

@keyframes polaroid-img {
  0% {
    filter: brightness(1000%) sepia(1000%);
  }
  100% {
    filter: brightness(100%) sepia(0%);
  }
}

@keyframes polaroid {
  0% {transform: rotate(5deg) rotateX(45deg);}
  5% {transform: rotate(-6deg) rotateX(-10deg);}
  10% {transform: rotate(2deg) rotateX(78deg);}
  15% {transform: rotate(0deg) rotateX(-5deg);}
  20% {transform: rotate(-9deg) rotateX(56deg);}
  25% {transform: rotate(2deg) rotateX(-10deg);}
  30% {transform: rotate(-7deg) rotateX(87deg);}
  35% {transform: rotate(-1deg) rotateX(3deg);}
  40% {transform: rotate(-9deg) rotateX(40deg);}
  50% {transform: rotate(-3deg) rotateX(10deg);}
}

.perspective {
  perspective: 1000px;
}

.polaroid {
  padding: 10px 10px 50px 10px;
  width: 250px;
  transform-origin: bottom;
  border: 1px solid #999;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  background: #fffffa; /* off-white */
  animation: 5s linear polaroid;
  transform: rotate(-3deg) rotateX(10deg);
}

.polaroid > img {
  width: 250px;
  height: 250px;
  animation: 5s ease-in polaroid-img;
}

.polaroid::after {

}

@media (min-width: 420px) {
  ul.profiles img {
    width: 50px;
    height: 50px;
  }
}
