.nav {
  display: flex;
  font-size: 1.5rem;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  background-color: #444;
}

.nav-item {
  display: block;
}

.nav-item > a {
  text-decoration: none;
  color: white;
  display: block;
  padding: .25em;
  transition: .25s;
}

.nav-item > a:hover, .nav-item > .nav-item-active {
  background-color: #555;
}

@media (min-width: 1300px) {
  .nav {
    display: block;
    width: 200px;
    position: absolute;
    top: 0px;
    left: calc((100% - 900px) / 2 + 900px);
  }
}